In [69]:
import dendropy as dp
import numpy as np
import pandas as pd

In [89]:
tree = dp.Tree.get_from_path('Hendra_highBatSampling.nexus.tree', 'nexus')

In [90]:
tree_reaction_location_age = []

for node in tree.postorder_node_iter():
    if node.is_leaf():
        reaction = node.annotations.get_value('reaction')
        location =  node.annotations.get_value('location')
        age =  node.distance_from_root()
        tree_reaction_location_age.append([node.taxon.label, reaction, location, age])

tree_reaction_location_age = pd.DataFrame(tree_reaction_location_age)

In [91]:
tree_reaction_location_age.iloc[:5, ]

   0         1  2         3
0  1  Sampling  0  1.735080
1  2  Sampling  0  2.038165
2  3  Sampling  0  1.856948
3  4  Sampling  0  1.876671
4  5  Sampling  1  1.867781

### Also need to get the following stats:
- Time of origin (age of root, really)
- date of first human transmision
- number of migrations to human
- total number of species jumps (this to be compared with the number of monophyletic groups)

In [203]:
location_target = '1' # The bat
location_trigger_sampling = '0' # After human sample
sampling_prob = 0.1 # sample bats with probability of 0.5

In [204]:
trigger_location = tree_reaction_location_age.iloc[:, 2] == location_trigger_sampling
subset_trigger_location = tree_reaction_location_age.loc[trigger_location, 3]
first_target = subset_trigger_location.min()
print(first_target)

1.2868389592339013

In [205]:
tree_reaction_location_age.head()

   0         1  2         3
0  1  Sampling  0  1.735080
1  2  Sampling  0  2.038165
2  3  Sampling  0  1.856948
3  4  Sampling  0  1.876671
4  5  Sampling  1  1.867781

In [206]:
# Editing code up to here!!
match_target_and_age = list()

for i in range(tree_reaction_location_age.shape[0]):
    match_location = tree_reaction_location_age.iloc[i, 2] == location_target 
    match_age = tree_reaction_location_age.iloc[i, 3] >  first_target
    if match_location and match_age: # If younger than target EXCLUDE with a probability of 1 - samp_prob
                                     # If older than target, remove always. This should produce a list 
                                     # of all tips to remove
        match_target_and_age.append(i)

match_target_and_age = np.array(match_target_and_age)

In [207]:
sampled = np.where(np.random.binomial(1, sampling_prob, len(match_target_and_age)) == 1)
sampled
print( match_target_and_age[sampled])
tree_reaction_location_age.loc[match_target_and_age[sampled], ]

[ 16  18  19  55  56  62  70  73 100 101]

       0         1  2         3
16    17  Sampling  1  2.110940
18    19  Sampling  1  2.079204
19    20   Removed  1  1.860565
55    56  Sampling  1  2.291279
56    57  Sampling  1  2.264211
62    63  Sampling  1  2.275008
70    71  Sampling  1  2.192449
73    74  Sampling  1  2.016424
100  101  Sampling  1  2.113670
101  102  Sampling  1  1.796743

In [208]:
match_target_and_age

array([  4,   5,  14,  15,  16,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  31,  32,  33,  38,  40,  43,  44,  52,  53,  55,  56,  57,
        59,  60,  61,  62,  65,  66,  67,  68,  69,  70,  71,  72,  73,
        75,  76,  77,  78,  79,  86,  87,  88,  91,  94,  95,  96,  97,
        98,  99, 100, 101, 102, 105, 108, 123, 124, 125])

In [209]:
np.array([i for i in range(100)])[np.random.binomial(1, 0.05, 100) == True]

array([24, 27, 30, 56, 74, 91, 96])